<br>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="ml-4 pl-5">Lab Tests</h3>
            <br>
            <h6 class="ml-4 pl-5">A complete list of Lab Tests. Your doctor may request one or more laboratory tests.
            </h6>
        </div>
    </div>
</div>
<div class="container-fluid " style="background: #f5f5f5; padding: 20px;">
    <div class="row">
        <div class="col mb-5">
            <div id="product" class="carousel slide">
                <ol class="carousel-indicators" style="bottom: -40px;">
                    <li data-target="#product" data-slide-to="0" class="active"></li>
                    <li data-target="#product" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div *ngFor="let labTest of labTests" class="carousel-item" [ngClass]="{'active': labTest.active}">
                        <div class="card-deck col-11 mx-auto">
                            <div *ngFor="let test of labTest.tests" (click)="onClick(test.description!)">
                                <div class="card bg-light" data-toggle="modal" data-target="#home-modal">
                                    <img class="card-img-top" src="assets/Images/{{test.url}}" alt="{{test.url}}"
                                        style="width:100%; height:130px;">
                                    <div class="card-body text-center mt-1">
                                        <a>{{test.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>


                    <a class="carousel-control-next" href="#product" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>


                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="home-modal" tabindex="-1" role="dialog" aria-labelledby="home-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="home-modal">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span *ngIf="!!description">{{description}}</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>